//-
  options
    path: 'ファイルパス',
    name: 'ファイル名(拡張子なし。PCと画像を出し分ける場合はSPのファイル名)',
    type: '元の拡張子',
    sp: 'SPのファイル名(拡張子なし。オプション)',
    alt: 'alt内容(オプション)',
    pcw: 'pcのwidth',
    pch: 'pcのheight',
    spw: 'spのwidth',
    sph: 'spのheight',

mixin picture(options)
  - pcSize = 768
  - options = options || {};
  //- picture
  //-   if(options.sp)
  //-     source(
  //-       media=`(max-width:${pcSize - 1}px)`
  //-       data-srcset=`${img}${options.sp}.${options.type}`
  //-       data-aspect-ratio=`${options.spw}/${options.sph}`
  //-     )
  //-   img(
  //-     class="lazyload"
  //-     src="data:image/gif;base64,R0lGODlhAQABAGAAACH5BAEKAP8ALAAAAAABAAEAAAgEAP8FBAA7"
  //-     data-src=`${img}${options.name}.${options.type}`
  //-     data-aspect-ratio=`${options.pcw}/${options.pch}`
  //-     alt=(options.alt || '')
  //-   )
  picture
    if(options.sp)
      source(
        media=`(max-width:${pcSize - 1}px)`
        srcset=`${img}${options.sp}.${options.type}`
        aspect-ratio=`${options.spw}/${options.sph}`
      )
    img(
      src=`${img}${options.name}.${options.type}`
      aspect-ratio=`${options.pcw}/${options.pch}`
      alt=(options.alt || '')
    )
