//-
  options
    path: 'ファイルパス',
    pc: 'ファイル名(拡張子なし。PCと画像を出し分ける場合はSPのファイル名)',
    sp: 'SPのファイル名(拡張子なし。オプション)',
    alt: 'alt内容(オプション)',
    pcw: 'pcのwidth',
    pch: 'pcのheight',
    spw: 'spのwidth',
    sph: 'spのheight',
mixin picture(options)
  - pcSize = 768
  - options = options || {};
  picture
    if (!options.sp)
      source(
        type="image/webp"
        data-srcset=`${img}${options.pc}.webp`
        data-aspectratio=`${options.pcw}/${options.pch}`
        width=options.pcw
        height=options.pch
      )
    else
      source(
        type="image/webp"
        media=`(min-width:${pcSize}px)`
        data-srcset=`${img}${options.pc}.webp`
        data-aspectratio=`${options.pcw}/${options.pch}`
        width=options.pcw
        height=options.pch
      )
      source(
        type="image/webp"
        media=`(max-width:${pcSize - 1}px)`
        data-srcset=`${img}${options.sp}.webp`
        data-aspectratio=`${options.spw}/${options.sph}`
        width=options.spw
        height=options.sph
      )
      source(
        media=`(min-width:${pcSize}px)`
        data-srcset=`${img}${options.pc}`
        data-aspectratio=`${options.pcw}/${options.pch}`
        width=options.pcw
        height=options.pch
      )
    img(
      class="lazyload"
      src="data:image/gif;base64,R0lGODlhAQABAGAAACH5BAEKAP8ALAAAAAABAAEAAAgEAP8FBAA7"
      data-src=`${img}${options.pc}`
      data-aspectratio=`${options.pcw}/${options.pch}`
      data-sizes="auto"
      width=options.pcw
      height=options.pch
      alt=(options.alt || '')
    )
