mixin svg(options)
  -
    options = options || {};
    svgPath = `${img}svg/${options.id}.svg`;
  svg(class=options.full ? "el_svg-full" : "el_svg" width=options.width, height=options.height)
    use(xlink:href=`${svgPath}#${options.id}`)

