mixin head(page, meta)
  meta(charset="utf-8")
  meta(name="viewport", content="width=device-width")
  title=meta[page]['title']
  link(rel="canonical" href=""+meta[page]['url'])
  meta(name="description" content=meta[page]['description'])
  meta(property="og:title" content=meta[page]['title'])
  meta(property="og:description" content=meta[page]['description'])
  meta(property="og:url" content=""+meta[page]['url'])
  meta(property="og:image" content=meta['global']['og_image'])
  meta(property="og:type" content=meta['global']['og_type'])
  meta(property="og:site_name" content=meta['global']['og_site_name'])
  meta(name="twitter:card" content="summary_large_image")
  link(rel="shortcut icon" href=meta[page]['path']+"assets/images/favicon.ico")
  link(rel="stylesheet", href=meta[page]['path']+"assets/css/main.css")
  script(src=meta[page]['path']+"assets/js/main.js", defer)
